.container_chart {
    background-color: #fff;
    margin-left: 68px;
    border-radius: 10px;
    padding: 16px 24px 16px 0;
    h5{
        font-family: 'Roboto', sans-serif;
        text-align: center;
        margin-top: 12px;
    }
}